@model hsdc.dpt.Control.DTO.Creational.Builder.Request

@{
    ViewBag.Title = "需求申請單";
}

<h2>新增需求單</h2>

@using (Html.BeginForm("SaveRequest", "Builder", FormMethod.Post, new { id = "frmSave" }))
{
    <table>
        <tr>
            <th>需求單單號</th>
            <td>@(Model.RequestID == null ? "" : Model.RequestID)</td>
        </tr>
        <tr>
            <th>申請人</th>
            <td>@Html.TextBoxFor(m => m.Applier)</td>
        </tr>
        <tr>
            <th>申請類別</th>
            <td>@Html.TextBoxFor(m => m.RequestType)</td>
        </tr>
        <tr>
            <th>內容說明</th>
            <td>@Html.TextBoxFor(m => m.RequestDesc)</td>
        </tr>
 

    </table>
    <br />
    <br />
    <button id="save">儲存</button>

<table class="table-bordered">
    <colgroup>
        <col width="300" />
        <col width="300" />
        <col width="300" />
        <col width="300" />
    </colgroup>
    <thead>
        <tr>
            <th>需求單單號</th>
            <th>申請人</th>
            <th>申請類別</th>
            <th>內容說明</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            <tr>
                <td>@Model.RequestID</td>
                <td>@Model.Applier</td>
                <td>@Model.RequestType</td>
                <td>@Model.RequestDesc</td>

            </tr>
 
        }

    </tbody>
</table>

}

@section BodyScripts
{
    <script>
        $("#save").click(function () {
            $("#frmSave").submit();
        });
    </script>
}